.column { 
	position: relative;
	float: left;
	}
	
#colMid { 
	background:#1bc6a4;
	width: 34% ;
	text-align:left;
	border-radius: 8px;
	margin-left:15px;
	border-style:solid;
	border-color:#333;
	}
	
#colLeft {	
  width: 30%; /* LC width */ 
  text-align: left;
  margin-left:2%;
}

#colRight { 
  width: 25%; /* RC width */ 

 
}
#colLeft input[type="newUsers"], #colMid input[type="email"], #colMid input[type="location"] , #colMid input[type="time"]{

  padding: 7px 5px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 90%;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

#colLeft input[type="submit"], #colMid input[type="submit"]{
  background: #333;
  padding: 8px;
  font-size: 20px;
  display: block;
  width: 60%;
  border: none;
  color: #fff;
  border-radius: 5px;
 margin-left: 20%;
  
}

#colLeft input[type="submit"]:hover, #colMid input[type="submit"]:hover {
  background-color: #545454;
}
#friendsList {
	
	width:90%;
	height:100%;
	margin-left: 15px;
}

#newInvitees{
	width:90%;
	background:#1bc6a4;
	margin-top:13%;
	border-radius: 8px;
	border-style:solid;
	border-color:#333;

}

#colRight input[type="text"] {
  border-color: #1bc6a4;
  border-style: solid;
  font-weight:bold;
   padding: 8px;
   width: 60%;
}
#colMid h1{
	margin-left:30%;
}


label {
  width: 100%;
  text-align: left;
  margin-left: 5px;
  font-weight: bold;
}
.randompad {
  padding: 10px;
}


option {
	font-weight: bold;
	}
	
option:hover{
	background-color: #1bc6a4;
	border-radius: 10px 10px 10px 10px;
}


select {
        -webkit-appearance: none;  /*Removes default chrome and safari style*/
        -moz-appearance: none; /* Removes Default Firefox style*/
        background: #fff url(img/select-arrow.png) no-repeat 90% center;
        text-indent: 0.01px; /* Removes default arrow from firefox*/
        text-overflow: "";  /*Removes default arrow from firefox*/ 
        color: #333;
        padding: 5px;
		border-radius: 10px 10px 10px 10px;
		border-style:solid;
		border-color:#1bc6a4;
    }
fieldset {
  border: none;
}

@media (min-width:0px) and (max-width:640px) {
 .column{
   float:none;
   height:auto;
   width:auto;
   
}


#colLeft{
  width:90%;
  margin-left:auto;
  margin-right:auto;
 
}

#colMid{
  width:90%;
  margin-left:auto;
  margin-right:auto;

  
}

#colMid h1{
  margin-left:15%;

}
#colRight{
  width:90%;
  margin-left:auto;
  margin-right:auto;
 
}
}


@media (min-width:640px) and (max-width:900px) {
  
  .column{
   float:none;
   height:auto;
   width:auto;
   
}


#colLeft{
  width:90%;
  margin-left:auto;
  margin-right:auto;

  
}

#newInvitees{
 
  width:100%;
  margin-top:5%;
}

#colMid{
  width:90%;
  margin-left:auto;
  margin-right:auto;

  
}

#colMid h1{
  margin-left:15%;

}
#colRight{
  width:90%;
  margin-left:auto;
  margin-right:auto;
 
}
  
}


@media (min-width:900px) and (max-width:1200px) {
  
  .column{
   float:none;
   height:auto;
   width:auto;
   
}


#colLeft{
  width:75%;
  margin-left:auto;
  margin-right:auto;
 
  
}

#newInvitees{
 
  width:100%;
  margin-top:5%;
}

#colMid{
  width:75%;
  margin-left:auto;
  margin-right:auto;

  
}



#colMid h1{
  margin-left:15%;

}
#colRight{
width:75%;
  margin-left:auto;
  margin-right:auto;

}
  
}