@font-face
{
font-family: Cousine;
src: url(../fonts/Cousine.ttf);
}

/*Common CSS*/

body {
	background-color: #545454;
	background-image: url(../imgs/cartographer.png);
	font-family: "Open Sans";
}

a {
	color: #1bc6a4;
	text-decoration: none;
	
}

header {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	color: #333333;
	text-transform: uppercase;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px #6C7B8B;
}

nav {
	width: 110%;
	height: 50px;
	margin: -3.5% -7% 0px;
	overflow: hidden;
	background-color: #333;
	text-align: center;
	line-height: 250%;
	font-weight: 300;
	position: fixed;
	z-index: 13;
	-webkit-backface-visibility: hidden;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
}

nav a {
			color: #fff;
			display: block;
			line-height: 50px;
			padding: 0 24px;
			text-decoration: none;
			text-transform: uppercase;
		}

nav > ul > li:hover,
nav > ul > li.current a{
          background-color: #1bc6a4;
        }

nav > ul > li:hover > a {
          color: #333;
}

.content {
	background-color: #fafaf0;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	margin-top: 3%;
	padding-top: 25px;
	text-align: center;
	box-shadow: 
	0 0 0 10px rgba(255,255,255,0.2), 
	inset 0 0 0px rgba(115,114, 23, 0.8);
	z-index: 2;
}

.content:after {
  content: "";
  display: table;
  padding-bottom: 25px;
}

footer {
	text-align: center;
	font-size: 0.9em;
	color: #1abc9c;
}

footer li {
	display: inline;
	padding-right: 5%;
}

footer a {
	font-size: 0.9em;
	color: #fafaf0;
}

footer a:visited {
	color: #fafaf0;
}

/*Desktop Screens*/
@media only screen and (min-width:800px) {

.content {
	width: 77%;
	min-height: 500px;
	margin-top: 25px;
}

nav {
	position: relative;
	margin-top: -0.8%;

}
}

/*Tablet Screens*/
@media only screen and (min-width: 540px){
[class*='col-'] {
  float: left;
}


.col-l {
	width: 50%;

}

.col-r {
	width: 50%;

}}

/*Report CSS*/

#features {
	max-width: 800px;
	margin: 10px auto;
}

#features li {
	margin: 5px;
}

/*Games CSS*/

@font-face
{
font-family: Coco;
src: url(../fonts/Cocogoose_trial.otf);
}

strong {
	font-weight: bolder;
}

.label {

	margin-top: 50px;

}

.formholder {
	width:90%;
	min-height: 200px;
	margin: 30px auto 0px;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: bolder;
	line-height: 1.5em;
	color: #333;
	-webkit-text-stroke: 1px transparent;
}

#title{
	font-family: Coco;
	font-size: 30px;
	color: #1bc6a4;

	
}

select {
	width: 99%;
	border-radius: 5px;
	border:none;
	margin-bottom: 10px;
}

.description {
	text-align: left;
	width: 80%;
}

/* Report CSS */

.text{

  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 35px;
  text-align: justify;
}

.text li{
  text-align: left;
}

.text h3 {
  font-size: 1.5em;
  text-align: left;
}

/* Settings CSS */

.accordion {   
     width:90%;  
     overflow:hidden;   
     margin:10px auto;   
     color:#474747;   
     background:#414141;   
     padding:10px;   
	 border-radius:2%;
}  

.accordion section{   
          float:left;  
          overflow:hidden;   
          color:#333;   
          cursor:pointer;   
          background: #333;   
          margin:3px; 
		  border-radius:3%;
		
    }  
	
.accordion section:hover {  
          background:#444;
		  border-radius:3%;
    }  
.accordion section p {   
      display:none;   
} 

.accordion section:after{  
          position:relative;  
          font-size:24px;  
          color:#000;  
          font-weight:bold;  
}  
.accordion section:target {   
      background:#FFF;   
      padding:10px;  
}  
.accordion section:target:hover {   
      background:#FFF;
	 
}  
.accordion section:target h2 {  
      width:100%; 
	 	  
}  
.accordion section:target h2 a{   
    color:#333;   
    padding:0; 
	font-weight:bold;
	background-color:#1bc6a4;
	border-radius:4%;
	height:50px;
	font-size:30px;  
	text-transform: uppercase;
}  
.accordion section:target p {  
      display:block;  
}  
.accordion section h2 a{  
      padding:8px 10px;  
      display:block;   
      font-size:16px;   
      font-weight:normal;  
      color:#eee;   
      text-decoration:none; 
	  text-transform: uppercase;
		
} 	
.accordion section h2 a:hover{
	color:#1bc6a4;
}

.accordion section:target h2 a:hover{
	color:#333;
}

.accordion section:nth-child(1):after{content:'1';}
.accordion section:nth-child(2):after{content:'2';}
.accordion section:nth-child(3):after{content:'3';}


.vertical section{   
         width:100%;   
         height:50px;   
         -webkit-transition:height 0.2s ease-out;  
         -moz-transition:height 0.2s ease-out;  
         -o-transition:height 0.2s ease-out;  
         transition:height 0.2s ease-out;  
 }  
      
    /*Set height of the slide*/  
    .vertical :target{   
         height:500px;   
         width:97%;  
    }  
    .vertical section h2 {   
         position:relative;   
         left:0;   
         top:-15px;   
    }  
    /*Set position of the number on the slide*/  
     .vertical section:after{   
          top:-75px;  
          left:450px;
		  
    } 
    .vertical section:target:after{   
          left:-7777px;  
    }  

