body {
	width: 100%;
	margin: auto;
	overflow-x:hidden;
	overflow-y:auto;
}

.map {
	height: 100%;
	width: 450px;
}

#map-canvas { 
 	height: 400px;
 	width: 90%;
 	margin: 5% auto 3%;
 	border: 5px #1bc6a4 dashed;
 	
 }

.text {
	width: 90%;
	height: 90%;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;

}

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 25px auto 2px;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}


/* Puff */

.dotstyle-puff li a {
	border: 4px solid #555;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.6);
}

.dotstyle-puff li a::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background: #666;
	border-radius: 50%;
	opacity: 0;

}

.dotstyle-puff li a:hover,
.dotstyle-puff li a:focus, 
.dotstyle-puff li.current a {
	background: #ccc;
}

/*Tablet Screens*/
@media only screen and (min-width:640px) {

.col-l {
	width: 65%;

}

.col-r {
	width: 35%;
}

}

/* Desktop */
@media only screen and (min-width:800px) {

.dotstyle ul {
	margin: auto;
}

}


.content{
	position: relative;
	z-index: 0;

}

.panel{
	width: 98%;
	min-height: 100%;
	position: relative;
	background-color: #fff;
	margin-left: -210%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.panel:target{
	margin-left: 0%;
	background-color: transparent;
}

#mylocation:target ~ .content .dotstyle #link-mylocation,
#benlocation:target ~ .content .dotstyle #link-benlocation,
#addfriend:target ~ .content .dotstyle #link-addfriend,{
	height:100%;
	width: 300px;
	background: #fff;
	color: #fff;
}