

.map {
	height: 100%;
	width: 450px;
}

#map-canvas, #map-canvas1 { 
 	min-height: 320px;
 	max-height: 450px;
 	width: 90%;
 	height: 100%;
 	margin: 5% auto 3%;
 	border: 5px #1bc6a4 dashed;
 	
 }

.text {
	width: 90%;
	height: 90%;
	text-align: left;
	margin: 1% auto -30px;

	font-family: 'Open Sans', sans-serif;

}

.dotstyle {
	min-width: 100px;
	text-align: center;
	margin-right: 10%;
	top: 50px;
	margin-bottom: 20px;
}

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: auto;
	padding-top: 5px;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.dotstyle li {
	position: relative;
	display: block;
	float: left;
	margin: 0 16px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}


/* Puff */

.dotstyle-puff li a {
	border: 4px solid #555;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.6);
}

.dotstyle-puff li a::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background: #666;
	border-radius: 50%;
	opacity: 0;

}

.dotstyle-puff li a:hover,
.dotstyle-puff li a:focus,
.dotstyle-puff li.current a{ 
	background: #ccc;
}

.container {
	white-space: nowrap;
	padding-top: 30px;
	padding-bottom: 80px;
}

.panel{
	width: 100%;
	height: 100%;
	min-height: 550px;
	position: relative;
	background-color: #fafaf0;
	padding-top: 50px;
	padding-bottom: 80px;
	z-index:2;
}



@media only screen and (min-width:480px) {

.container {
	padding-bottom: 30px

}

#map-canvas, #map-canvas1 {
	height: 600px;
}

}

@media only screen and (min-width: 640px) {
	#map-canvas, #map-canvas1 {
	height: 400px;
}
}


.panel1:target{
	margin-left: 0%;
}


.panel2:target{
	margin-left: 0%;
}

.friendlist {
	min-height:325px;
}


footer {
	margin-bottom: 60px;
}


#popupClose{  
	font-size:20px;  
	line-height:20px;  
	position:absolute;
	right:6px;  
	top:4px;  
	font-weight:700; 
	display:block;
	color: #333;   
}


#bgPopup{
	display:none; 
	position:fixed;  
	height:90%; 
	width:100%;  
	top:0;  
	left:0;  
	background:#FFF;
	opacity: 0.05; 
	z-index:5;  
}  

#places-popup{  
	display:none;  
	position:relative; 
	width:90%; 
	max-width: 400px;
	margin-right: auto;
	margin-right: auto;
	background:#FFFFFF;  
	border:5px solid #999;  
	z-index:6; 

} 

.popup-container {
	padding: 13px;
}

form {
	width: 100%;
	margin: auto;
	text-align: center;
}

input[type="text"]{
	min-width: 180px;
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
input[type="button"]{
	height: 100%;
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #1bc6a4;
    background-color:#1bc6a4;
    color:#fafafa;
}
input[type="button"]:hover  {
    background-color:#fafafa;
    color:#1bc6a4;
}

h4 {
	text-align: left;

}
.requesttext {
	height: 50px;
	margin-left: 70px;
	margin-right: 10px;
	margin-top: -50px;
	margin-bottom: 25px;
	font-size: 12px;
}

.requesttext li {
	display: inline;
}

input[class="button-reject"] {
	border:2px solid #999;
    background-color:#999;

}

input[class="button-reject"]:hover  {
    color:#999;
}

.displayimg {
	background-image: url(../imgs/mash.jpg);
	background-size: contain;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px #999 solid;

}

input[class="place-button"] {

  position: fixed;
  max-height: 50px;
  margin: 0 -5% 0;
  bottom: 0px;
  background: #333;
  padding: 10px;
  text-align: center;
  letter-spacing:  2.5px;
  display: block;
  width: 110%;
  line-height: 30px;
  border: none;
  color: #fff;
  z-index: 6;
  -webkit-backface-visibility: hidden;
}

input[class="place-button"]:hover {
  background: #545454;
}
