@font-face
{
font-family: Cousine;
src: url(../fonts/Cousine.ttf);
}
@font-face
{
font-family: Coco;
src: url(../fonts/Cocogoose_trial.otf);
}

#title{
	font-family: Coco;
	font-size: 30px;
	color: #1bc6a4;
	
}

body {
	background-color: #545454;
	background-image: url(../imgs/cartographer.png);
	font-family: "Open Sans";
}

a {
	color: #1bc6a4;
	text-decoration: none;

}
.col-r {
	border-top-color: #fff;
	margin-left: auto;
	margin-right: auto;
}

nav {
	width: 110%;
	height: 50px;
	margin: -3% -7% 0px;
	overflow: hidden;
	background-color: #333;
	text-align: center;
	line-height: 250%;
	font-weight: 300;
	position: fixed;
	z-index: 1;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
}
select{
	width : 100%;
	height: 75px;
}

nav a {
			color: #fff;
			display: block;
			line-height: 50px;
			padding: 0 24px;
			text-decoration: none;
			text-transform: uppercase;
		}

nav > ul > li:hover,
nav > ul > li.current a{
          background-color: #1bc6a4;
        }

nav > ul > li:hover > a {
          color: #333;
}
        
header {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	color: #333333;
	text-transform: uppercase;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px #6C7B8B;
}


form {
	height: 100%;
	width: 100%;
	margin-top: 15%;
}

.link {
	text-align: center;
}


.content {
	background-color: #fafaf0;
	width: 100%;
	min-height: 500px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	margin-top: 3%;
	padding-top: 25px;
	text-align: center;
	box-shadow: 
	0 0 0 10px rgba(255,255,255,0.2), 
	inset 0 0 0px rgba(115,114, 23, 0.8);
	z-index: 2;
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

.text {
	width: 90%;
	height: 90%;
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3px;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;

}

.login {
	text-align: center;
	margin-left: -60px;

}

.login li {
	display: block;
	width:100%;
	margin: 10px; 
}


footer {
	text-align: center;
	font-size: 0.9em;
	color: #1abc9c;
	z-index: 3;
}

footer li {
	display: inline-block;
	padding-right: 5%;
}

footer a {
	font-size: 0.9em;
	color: #fafaf0;
}

footer a:visited {
	color: #fafaf0;
}


/*PC Screens*/
@media only screen and (min-width:800px) {

.content {
	width: 77%;
	margin-top: 25px;
}

nav {
	position: relative;
	margin-top: -0.8%;

}
}



/*Tablet*/
@media only screen and (min-width: 640px){
[class*='col-'] {
  float: left;
}


.col-l {
	width: 50%;

}

.col-r {
	width: 50%;
	margin-top: 25px;
	border-top-color: #fff;

}}