@font-face
{
font-family: Coco;
src: url(../fonts/Cocogoose_trial.otf);
}

iframe{
	height: 400px;
 	width: 90%;
 	border: 5px #1bc6a4 dashed;
 
	
	
}
.temp {
	height: 100%;
	width: 450px;
}

 #map { 

 	height: 400px;
 	width: 90%;
 	margin: 5% auto 3%;
 	
 	
 }

 .friendnav {
 	height: 100%;
 	min-height: 60px;
 	
 }

 .friendnav li {
 	display: inline;
 	margin-right: 5%;
 	font-size: 2em;
 }
 .col-l {
	width: 65%;

}

.col-r {
	width: 35%;
}

#title{
	font-family: Coco;
	font-size: 30px;
	color: #1bc6a4;
	
}
#description{
width: 90%;
margin-left: auto;
margin-right: auto;
	
}

#title_tag{
	margin-left: 2%;
	width: 300px;
	height: 50px;
}


 .chatsq {

 	position: relative;
 	height: 400px;
 	width: 90%;
 	margin: % 0 5px 0;
 	padding-top: 0.2%;
 	background-color: #1bc6a4;
 	border-radius: 5px;
 	border: 5px #1bc6a4 dashed;
 }

  .chat2 {
 	position: relative;
 	height: 100px;
 	width: 90%;
 	margin: 10px auto 0;
 	padding-top: 0.2%;
 	background-color: #fff;
 	border-radius: 5px;

 	
 }

  .chat1 {
 	position: relative;
 	height: 250px;
 	width: 90%;
 	margin: 8% auto 0;
 	padding-top: 0.2%;
 	background-color: #fff;
 	border-radius: 5px;
 	font-family: verdana;
 	text-align: left;
 	text-indent: 13px;

 }




/*Tablet Screens*/
@media only screen and (min-width:640px) {

.col-l {
	width: 65%;

}

.col-r {
	width: 35%;
}


 .chatsq {

 	position: relative;
 	height: 400px;
 	width: 90%;
 	margin: 6% 0 5px 0;
 	padding-top: 0.2%;
 	background-color: #1bc6a4;
 	border-radius: 5px;
 	border: 5px #1bc6a4 dashed;
 }

  .chat2 {
 	position: relative;
 	height: 100px;
 	width: 90%;
 	margin: 10px auto 0;
 	padding-top: 0.2%;
 	background-color: #fff;
 	border-radius: 5px;

 	
 }

  .chat1 {
 	position: relative;
 	height: 250px;
 	width: 90%;
 	margin: 8% auto 0;
 	padding-top: 0.2%;
 	background-color: #fff;
 	border-radius: 5px;
 	font-family: verdana;
 	text-align: left;
 	text-indent: 13px;

 }

}
@media only screen and (max-width: 640px) {
.col-l {
	width: 100%;
	margin-left: auto;
	margin-right: 70%;

}

.col-r {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


 .chatsq {

 	position: relative;
 	height: 400px;
 	width: 90%;
 	margin: 6% 0 5px 0;
 	padding-top: 0.2%;
 	background-color: #1bc6a4;
 	border-radius: 5px;
 	float: none;
 }

  .chat2 {
 	position: relative;
 	height: 100px;
 	width: 90%;
 	margin: 10px auto 0;
 	padding-top: 0.2%;
 	background-color: #fff;
 	border-radius: 5px;

 	
 }

  .chat1 {
 	position: relative;
 	height: 250px;
 	width: 90%;
 	margin: 8% auto 0;
 	padding-top: 0.2%;
 	background-color: #fff;
 	border-radius: 5px;
 	font-family: verdana;
 	text-align: left;
 	text-indent: 13px;

 }

}