@font-face
{
font-family: Cousine;
src: url(../fonts/Cousine.ttf);
}


body {
	background-color: #545454;
	background-image: url(../imgs/cartographer.png);
	font-family: "Open Sans";
}

a {
	color: #1bc6a4;
	text-decoration: none;
	
}

nav {
	width: 110%;
	height: 50px;
	margin: -3.5% -7% 0px;
	overflow: hidden;
	background-color: #333;
	text-align: center;
	line-height: 250%;
	font-weight: 300;
	position: fixed;
	z-index: 1;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
}

nav a {
			color: #fff;
			display: block;
			line-height: 50px;
			padding: 0 24px;
			text-decoration: none;
			text-transform: uppercase;
		}

nav > ul > li:hover {
          background-color: #1bc6a4;
        }

        nav > ul > li:hover > a {
          color: #333;
        }

        nav > ul > li:hover > a > .caret {
          border-top-color: #fff;
        }

.content {
	background-color: #fafaf0;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
	margin-top: 3%;
	padding-top: 25px;
	text-align: center;
	box-shadow: 
	0 0 0 10px rgba(255,255,255,0.2), 
	inset 0 0 0px rgba(115,114, 23, 0.8);
	z-index: 2;
}

.content:after {
  content: "";
  display: table;
  padding-bottom: 25px;
}

.accordion {   
     width:90%;  
     overflow:hidden;   
     margin:10px auto;   
     color:#474747;   
     background:#414141;   
     padding:10px;   
}  

.accordion section{   
          float:left;  
          overflow:hidden;   
          color:#333;   
          cursor:pointer;   
          background: #333;   
          margin:3px;   
    }  
	
.accordion section:hover {  
          background:#444;
    }  
.accordion section p {   
      display:none;   
} 

.accordion section:after{  
          position:relative;  
          font-size:24px;  
          color:#000;  
          font-weight:bold;  
}  
.accordion section:target {   
      background:#FFF;   
      padding:10px;  
}  
.accordion section:target:hover {   
      background:#FFF;
	 
}  
.accordion section:target h2 {  
      width:100%; 
	 	  
}  
.accordion section:target h2 a{   
      color:#333;   
      padding:0; 
	font-weight:bold;	  
}  
.accordion section:target p {  
      display:block;  
}  
.accordion section h2 a{  
      padding:8px 10px;  
      display:block;   
      font-size:16px;   
      font-weight:normal;  
      color:#eee;   
      text-decoration:none;   
} 	
.accordion section h2 a:hover{
	color:#1bc6a4;
}

.accordion section:nth-child(1):after{content:'1';}
.accordion section:nth-child(2):after{content:'2';}
.accordion section:nth-child(3):after{content:'3';}


.vertical section{   
         width:100%;   
         height:50px;   
         -webkit-transition:height 0.2s ease-out;  
         -moz-transition:height 0.2s ease-out;  
         -o-transition:height 0.2s ease-out;  
         transition:height 0.2s ease-out;  
 }  
      
    /*Set height of the slide*/  
    .vertical :target{   
         height:500px;   
         width:97%;  
    }  
    .vertical section h2 {   
         position:relative;   
         left:0;   
         top:-15px;   
    }  
    /*Set position of the number on the slide*/  
    .vertical section:after{   
          top:-75px;  
          right:-525px;  
    }  
    .vertical section:target:after{   
          left:-7777px;  
    }  
footer {
	text-align: center;
	font-size: 0.9em;
	color: #1abc9c;
}

footer li {
	display: inline;
	padding-right: 5%;
}

footer a {
	font-size: 0.9em;
	color: #fafaf0;
}

footer a:visited {
	color: #fafaf0;
}

/*Tablet Screens*/
@media only screen and (min-width:800px) {

.content {
	width: 77%;
	margin-top: 25px;
}

nav {
	position: relative;
	margin-top: -0.8%;

}
}

/*Phone Screens*/
@media only screen and (min-width: 540px){
[class*='col-'] {
  float: left;
}


.col-l {
	width: 50%;

}

.col-r {
	width: 50%;
	margin-top: 25px;

}}


