html {
	height:100%;
}

body {
	height: 100%;
	margin: 10px;
	padding: 0;

}

.makemeet h1 {

	color: #141F1F;
	font-size: 48px;
	font-family: Arial, sans-serif;
	font-variant: small-caps;
	font-weight: bold;
	
}

#mapcanvas {
	height: 50%;
	width: 50%;
}