doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=false")
    link(rel="shortcut icon", href="imgs/pin.ico")
    title  Find Me | Games
    // CSS Styles
    link(rel="stylesheet", type="text/css", href="css/index.css")
    link(rel="stylesheet", href="css/chat.css", media="screen", type="text/css")
    // Fonts
    link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
    // Scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="js/chat.js")
    script(src="js/meet.js")
  body
    nav
      ul
        li
          a(href="/meet") Meet
        li
          a.chatbutton Chat
        li.current
          a(href="/games") Games
        li
          a(href="/settings") Settings
        // li><a href="/meetings">Meetings</a></li
    .content
      #smallchat
      .col-l
        header
          p#title Games
        #inprogress
          if games
            each game, i in games
              form(action="/startgame", method="get")
                .formholder
                  .randompad
                    fieldset
                      input(type="hidden", id="token", name="token", value=game.token)
                      input(type="submit", value=game.type)
        .label
          h4 Start a new game:
        .formholder
          form(action="/scavenger", method = "get")
            fieldset
              input(type="submit", value="Scavenger Hunt")
          form(action="/hidenseek", method="get")
            fieldset
              input(type="submit", value="Hide and Seek")
          form
            fieldset
              input(type="submit", value="Man Hunt", id="manhunt")
      .col-r
        header
          a.chatbutton
            p#title Meeting Chat
        .label
        // Duplicate chat code, games and meet pages will eventually be combined
        #chat
          #chatbox
            ul#messageList
          #messagebox
            textarea#message 
            input#submittext(type="submit", value="send")

        .label    
          h4 This chat only includes people in your meeting! 
    footer
      ul
        li
          a(href="/about")  About
        li
          a(href="/meet")  Meet
        li
          a(href="/games")  Games
        li
          a(href="/schedule") Schedule
        li
          a(href="/index" id="logout") Logout 
    script(src="js/logout.js")



