doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=false")
    link(rel="shortcut icon", href="../imgs/pin.ico")
    title  Find Me | Hide and Seek
    // CSS Styles
    link(rel="stylesheet", type="text/css", href="css/index.css")
    link(rel="stylesheet", href="css/signup.css", media="screen", type="text/css")
    link(rel="stylesheet", href="css/chat.css", media="screen", type="text/css")
    // Fonts
    link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
    // Scripts
    script(src="js/jquery.min.js")
    script(src="js/chat.js")
    script(src="js/meet.js")

    //for popup
    link(rel="stylesheet", type="text/css", href="jquery.countdown.css")
    link(rel="stylesheet", type="text/css", href="css/meet.css")
    script(type="text/javascript", src="jquery.plugin.js")
    script(type="text/javascript", src="jquery.countdown.js")
    script(src="js/popup.js")

  body
    nav
      ul
        li
          a(href="meet") Meet
        li
          a.chatbutton Chat
        li.current
          a(href="games") Games
        li
          a(href="settings") Settings
    #content-1.content
      #smallchat
      .col-l
        header
          p#title Hide and Seek!
        if newgame
          script(src="js/hidenseeknew.js")
          form(id="selectplayers")
            .label
              h4 Choose your players:
            .formholder
              .randompad
                fieldset
                  select(name="mydropdown", multiple="multiple")
                    if friends
                      each friend, i in friends
                        option(value=friend) #{friend}
                  input#places(type="button", value="Start Game")
          #places-popup
            a#popupClose x
            .popup-container
              #whoisseeker
              p You have 10 minutes to get to your positions:
              #first.countdown
              p  Please remember to stay within your regions.
              p Have you found your spot?
              #g2checkin
                a(href="#")
                  |Check-in!
                  center
                    img(src="imgs/check-in.png", width="50%")
          #bgPopup



        .game
          .points
            ul
              li
                #gametext Points:
          .gamebuttons
            ul
              li
                input#refresh(type="button", value="Refresh")
              li
                input#checkin(type="button", value="Check In")
            #map-canvas1
            .text
              p 
                |WARNING! This button will erase all game data!
              form
                fieldset
                  input#quit(type="button", value="End Game")
      .col-r
        header
          a.chatbutton
            p#title Chat
            p
        // Duplicate chat code, games and meet pages will eventually be combined
        #chat
          #chatbox
            ul#messageList
              li
                div
                  img(src="imgs/mashiyat1.jpg")
                span#time 12:32
                span#text Ready to play?
          #messagebox
            textarea#message Type your message here
            input#submittext(type="submit", value="send")
        // End Duplicate Code
    // page #2 the actual game for hide and seek
    footer
      ul
        li
          a(href="about")  About
        li
          a(href="meet")  Meet
        li
          a(href="games")  Games
        li
          a(href="schedule") Schedule
        li
          a(href="/index" id="logout") Logout 


    script(src="js/hidenseek.js")
    script(src="js/logout.js")
   

  

