doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=false")
    link(rel="shortcut icon", href="/imgs/pin.ico")
    title  Find Me | Where are you? 
    // CSS Styles
    link(rel='stylesheet', type='text/css', href='/css/index.css')
    // Fonts
    link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
    // Scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    //script(src="js/fb.js")
    //script(src="js/gplus.js")
    script(src="js/signup.js")
  body
    nav
      ul
        li
          a(href="/meet") Meet
        li
          a(href="/games") Games
        li
          a(href="/settings") Settings
        li
          a(href="/schedule") Schedule
    .content
      .col-l
        header
          p Where are you?
        .link
          // Image Attribution: http://www.visualpharm.com
          a(href="/meet")
            img(src="../imgs/mapicon.png", width="50%")
            p  Find My Location
      .col-r
        // Drop down registration code
        // Attribution: Miro Karilahti
        // Found: http://codepen.io/miroot/details/qwIgC
        // Status: Edited
        .formholder
          .randompad
           p #{message}
            form(method="POST", action="/login")
              fieldset
                label(name="email") Email
                input(type="email", name="email", placeholder="ben.smith@mail.com", required="")
                label(name="password") Password
                input(type="password", name="password", placeholder="******", required="")
                input(type="submit", value="Log In", id="login")

        small
          small
            | Need an account?
            a#regform(href="#reg")  Register
          p
          a#reg
            .register
          .arrow-up
          .formholder
            .randompad
              p #{regMsg}
              form(method="POST", action="/register")
                fieldset
                  label(name="name") Name
                  input(id="userField" , type="text", name="name", placeholder="Ben Smith", title="Username contains only letters, numbers, underscores. They must contain at least 6 and at most 30 characters.", required pattern="[_0-9A-Za-z]{6,30}")
                  label(name="email") Email
                  input(type="email", name="email", placeholder="ben.smith@mail.com", required="")
                  label(name="password") Password
                  input(id="pwd1", type="password", name="password", placeholder="******", title="Password must contain at least 6 and at most 30 characters, including UPPER/lowercase and numbers.", required pattern="[A-Za-z0-9]{6,30}")
                  label(name="password") Confirm Password
                  input(id="pwd2", type="password", placeholder="******", title="Please enter the same Password as above.", required pattern="[A-Za-z0-9]{6,30}")
                  input(type="submit", value="Register")
      // Attribution END
      //| Sign up with an existing account:
      //.login
        //ul
          //li
            //a(href="", onclick="FB.login()")
              //img(src="../imgs/fb.png")
          //li
            //a(href="")
              //img(src="../imgs/google.png")
    footer
      ul
        li
          a(href="/about")  About
        li
          a(href="/meet")  Meet
        li
          a(href="/games")  Games
        li
          a(href="/schedule") Schedule
        li
          a(href="/index") 2014 Find Me 
