doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=false")
    link(rel="shortcut icon", href="/imgs/pin.ico")
    title  Find Me | Meet 
    // CSS Styles
    link(rel="stylesheet", type="text/css", href="/css/index.css")
    link(rel="stylesheet", type="text/css", href="/css/signup.css", media="screen")
    link(rel="stylesheet", type="text/css", href="/css/meet.css")
    link(rel="stylesheet", href="/css/chat.css", media="screen", type="text/css")
    // Fonts
    link(href="http://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type="text/css")
    // Scripts
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOkWAnSuU-z_DSWMy_dO3_H7TrZj0x9Dk")
    script(src="js/map.js")
    script(src="js/popup.js")
    script(src="js/chat.js")
    script(src="js/meet.js")
  body
    nav
      ul
        li.current
          a(href="#") Meet
        li
          a.chatbutton Chat
        li
          a(href="/games") Games
        li
          a(href="/settings") Settings
    .content
      #smallchat
      #location.container
        .text
          h4 My Location
          .dotstyle.dotstyle-puff
            ul
              li.current
                a#mylocation My Location
              li
                a#benlocation Ben
              li
                a#addfriend Add A Friend
      .col-l
        #map-canvas.map
        #friendAdd.formholder
          .randompad
            fieldset
              select(name="mydropdown", multiple="multiple", size="10")
                if friends
                      each friend, i in friends
                        option(value=friend) #{friend}
              label(name="newUsers") Add Friends
              input(type="newUsers", placeholder="abc@mail.com, xyy@mail.com", required="")
              input(type="submit", value="Add")
      .col-r
        #chat
          #chatbox
            ul#messageList
              li
                div
                  img(src="imgs/mashiyat1.jpg")
                span#time 12:32
                span#text Hey I"m here!
          #messagebox
            textarea#message Type your message here
            input#submittext(type="submit", value="send")
  
    a(href="#smallchat")
      input#places.place-button(type="button", value="MEETING PLACE")
    #places-popup
      a#popupClose x
      .popup-container
        h4
          | Find A Place To Meet
          h4
            form
              input(type="text", placeholder="Search...", required="")
              input(type="button", value="Search")
            h4 Pending Requests
            .request
              .displayimg
              .requesttext
                | Mashiyat would like to meet at 
                a(href="#mylocation") Starbucks
                | !
                ul
                  li
                    input.button-accept(type="button", value="Accept")
                  li
                    input.button-reject(type="button", value="Reject")
            h4 Recent Places
    #bgPopup
    footer
      ul
        li
          a(href="/about")  About
        li
          a(href="/meet")  Meet
        li
          a(href="/games")  Games
        li
          a(href="/schedule") Schedule
        li
          a(href="/index") 2014 Find Me 
