/*about */
.grid figcaption h2 {
	color: #87CEFA;
}

/*chat */
#chat {
  border: 5px solid #87CEFA ;


}

#messagebox input[type="submit"] {
  border:2px solid #87CEFA;
  background-color:#87CEFA;

}
#messagebox input[type="submit"]:hover {
  color:#fff;
}

/* future meet */
option:hover{
	background-color: #87CEFA;

}

/* meet */
input[type="button"], input[type="submit"]{
    border:2px solid #87CEFA ;
    background-color:#87CEFA !important;
}
input[type="button"]:hover  {
    color:#87CEFA;
}

#map-canvas{ 
 	border: 5px #87CEFA dashed;
 }
    
/* profile form */

#myMonth, #myDays, #myYears {
	border-color:#87CEFA;
}

#myMonth option:hover, #myDays option:hover, #myYears option:hover {
	background-color: #87CEFA;
}

#profileForm  input[type="text"],#profileForm  input[type="email"], #profileForm   input[type="password"]  {

  border-color:#87CEFA;
}

/* sign up */

.arrow-up {
  border-bottom: 15px solid #87CEFA;
}

.formholder {
  background: #87CEFA;
}

/*index */
a {
	color: #87CEFA;
}

nav > ul > li:hover,
nav > ul > li.current a{
          background-color: #87CEFA;
        }
		
#title{
	color: #87CEFA;

	
}

iframe {
	border: 5px #87CEFA dashed;
}

#map-canvas1 {
	border: 5px #87CEFA dashed;
}

.accordion section:target h2 a{   
	background-color:#87CEFA;
}  

.accordion section h2 a:hover{
	color:#87CEFA;
}

#fmeeting select{
  border-color:#87CEFA;
}

#fmeeting input[type="time"],#fmeeting input[type="text"] , #fmeeting input[type="location"]  {

  border-color:#87CEFA;
}