

@font-face
{
font-family: Cousine;
src: url(../fonts/Cousine.ttf);
}


body {
	background-color: #545454;
	background-image: url(../imgs/cartographer.png);
	font-family: "Open Sans";
}

a {
	color: #1bc6a4;
	text-decoration: none;
	
}

header {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	color: #333333;
	text-transform: uppercase;
	line-height: 1.2em;
	text-shadow: 1px 1px 1px #6C7B8B;
}


form {
	height: 100%;
	width: 100%;
	margin-top: 3%;
}


.link {
	text-align: center;
}


.content {
	background-color: #fafaf0;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	text-align: center;
	box-shadow: 
	0 0 0 10px rgba(255,255,255,0.2), 
	inset 0 0 0px rgba(115,114, 23, 0.8);
}

.content:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 800px){
[class*='col-'] {
  float: left;
}

.content {
	width: 77%;
	margin-top: 30px;
}

.col-l {
	width: 50%;

}

.col-r {
	width: 50%;
	margin-top: 25px;

}}

.text {
	width: 90%;
	height: 90%;
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3px;
	margin-bottom: 15px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;

}

.login {
	text-align: center;
	margin-left: -60px;

}

.login li {
	display: block;
	width:100%;
	margin: 10px; 
}


.ch-grid {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: -10px;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 77%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin: 10px;
}

footer {
	text-align: center;
	font-size: 0.9em;
	color: #1abc9c;
}

footer li {
	display: inline;
	padding-right: 5%;
}

footer a {
	font-size: 0.9em;
	color: #fafaf0;
}

footer a:visited {
	color: #fafaf0;
}

